@model MarkdownManagerNew.Viewmodels.CreateGroupViewModel


@{
    ViewBag.Title = "Create Group";
}



<div id="CreateGroupWindow">
    @*<div class="col-md-4">
        <h1>
            Skapa grupp
        </h1>
    </div>
    <div class="dropdown col-md-4">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Användare
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            @for (int i = 0; i < Model.CheckBoxUsers.Count; i++)
            {
                <li>
                    <a href="#">
                        <span>@Html.CheckBoxFor(x => x.CheckBoxUsers[i].IsChecked)</span>
                        @Html.HiddenFor(x => x.CheckBoxUsers[i].ID) @Html.HiddenFor(x => x.CheckBoxUsers[i].Display)
                        @Model.CheckBoxUsers[i].Display
                    </a>
                </li>
            }
        </ul>
    </div>*@
    @*<div class="dropdown col-md-4">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dokument
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            @for (int i = 0; i < Model.CheckBoxDocuments.Count; i++)
            {
                <li>
                    <a href="#">
                        <span>@Html.CheckBoxFor(x => x.CheckBoxDocuments[i].IsChecked)</span>
                        @Html.HiddenFor(x => x.CheckBoxDocuments[i].ID) @Html.HiddenFor(x => x.CheckBoxDocuments[i].Display)
                        @Model.CheckBoxDocuments[i].Display
                    </a>
                </li>
            }
        </ul>
    </div>*@
    @using (Html.BeginForm("CreateGroup", "User", FormMethod.Post))
    {
        
        @Html.AntiForgeryToken()
        
        @*<table>
            <tr>
                <td>
                    Titel: @Html.TextBoxFor(x => x.Name)
                </td>
                <td>
                    Description: @Html.TextBoxFor(x => x.Description)
                </td>
            </tr>
        </table>*@
    <div class="row createGroupTextBoxes">
        Namn: @Html.TextBoxFor(x => x.Name)
    </div>
    <div class="row createGroupTextBoxes">
        Beskrivning: @Html.TextBoxFor(x => x.Description)
    </div>
        <table>
            @for (int i = 0; i < Model.CheckBoxUsers.Count; i++)
            {
                <tr>
                    <td>
                        @Html.CheckBoxFor(x => x.CheckBoxUsers[i].IsChecked)
                    </td>
                    @*<td>
                        Is admin: @Html.CheckBoxFor(x => x.CheckBoxUsers[i].IsGroupAdmin)
                    </td>
                    <td>
                        Can Edit: @Html.CheckBoxFor(x => x.CheckBoxUsers[i].CanEdit)
                    </td>*@
                    <td>
                        @Html.HiddenFor(x => x.CheckBoxUsers[i].ID)
                        @*@Model.CheckBoxUsers[i].ID*@
                    </td>
                    <td>
                        @Html.HiddenFor(x => x.CheckBoxUsers[i].Display)
                        @Model.CheckBoxUsers[i].Display
                    </td>
                </tr>
                <tr>
                    <td>
                        Is admin: @Html.CheckBoxFor(x => x.CheckBoxUsers[i].IsGroupAdmin)
                    </td>
                </tr>
                <tr>
                    <td>
                        Can Edit: @Html.CheckBoxFor(x => x.CheckBoxUsers[i].CanEdit)
                    </td>
                </tr>
            }
        </table>

    <table>
        @for (int i = 0; i < Model.CheckBoxDocuments.Count; i++)
        {
            <tr>
                <td>
                    @Html.CheckBoxFor(x => x.CheckBoxDocuments[i].IsChecked)
                </td>
                <td>
                        @Html.HiddenFor(x => x.CheckBoxDocuments[i].ID)
                        @*@Model.CheckBoxUsers[i].ID*@
                    </td>
                <td>
                    @Html.HiddenFor(x => x.CheckBoxDocuments[i].Display)
                    @Model.CheckBoxDocuments[i].Display
                </td>
            </tr>
        }
    </table>
        <br />
        <input type="text" ng-model="asyncSelected" placeholder="Lägg till tagg" uib-typeahead="tags for tags in getTags($viewValue)" typeahead-loading="loadingTags" typeahead-no-results="noResults" class="form-control">
            <button type="button" class="btn btn-primary" ng-click="testPost()">Lägg till</button>
            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"> Hämtar taggar</i>
            <input type="hidden" name="{{selectedTags}}" />
            <div>
                <dl>
                    <dt>Taggar</dt>
                    <dd ng-repeat="tag in selectedTags">
                        {{tag}}
                    </dd>
                </dl>
            </div>
        <br />
    
        <hr />
    

        <button type="submit">OK</button>
    }
</div>   


@*<div>
    @Html.ActionLink("Back", "Index")
</div>*@

@*@using (Html.BeginForm("CreateGroup", "User", FormMethod.Post)) <<<<<<<<<<  NYASTE KODEN SOM HAR ETT OKEJ USER INTERFACE >>>>>>>>>>>
{
    @Html.AntiForgeryToken()

    <div class="col-md-12" id="createGroupWindow2">
        <div class="row">
            <div class="col-md-8" id="createGroupTitle">
                <h1>Skapa grupp</h1>
            </div>
            <div class="col-md-2 addGroupOrUser">
                <div class="dropdown col-md-4">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Användare
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        @for (int i = 0; i < Model.CheckBoxUsers.Count; i++)
                        {
                            <li>
                                <a href="#">
                                    <span>@Html.CheckBoxFor(x => x.CheckBoxUsers[i].IsChecked)</span>
                                    @Html.HiddenFor(x => x.CheckBoxUsers[i].ID) @Html.HiddenFor(x => x.CheckBoxUsers[i].Display)
                                    @Model.CheckBoxUsers[i].Display
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-2 addGroupOrUser">
                <div class="dropdown col-md-4">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Dokument
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        @for (int i = 0; i < Model.CheckBoxDocuments.Count; i++)
                        {
                            <li>
                                <a href="#">
                                    <span>@Html.CheckBoxFor(x => x.CheckBoxDocuments[i].IsChecked)</span>
                                    @Html.HiddenFor(x => x.CheckBoxDocuments[i].ID) @Html.HiddenFor(x => x.CheckBoxDocuments[i].Display)
                                    @Model.CheckBoxDocuments[i].Display
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" id="groupTitle">
            <div class="container">
                <h4>Gruppnamn</h4>
                <form role="form">
                    <div class="form-group">
                        <label for="comment">@Model.Name</label>
                        <textarea class="form-control" rows="1" id="comment"></textarea>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" id="groupDescription">
            <div class="container">
                <h4>Beskrivning</h4>
                <form role="form">
                    <div class="form-group">
                        <label for="comment">@Model.Description</label>
                        <textarea class="form-control" rows="1" id="comment"></textarea>
                        @Html.TextBoxFor(x => x.Description)
                    </div>
                </form>
            </div>
        </div>
        <div class="row" id="groupConfirm">
            <div class="col-md-3 col-md-offset-9" id="groupConfirmButton">
                <button class="btn-group-lg" type="submit">Bekräfta</button>
            </div>
        </div>
    </div>
}*@


