@model MarkdownManagerNew.Viewmodels.AllDocumentsViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Documents</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Documents.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documents.First().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documents.First().DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documents.First().LastChanged)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documents.First().Creator)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Documents) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastChanged)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creator.UserName)
        </td>
        <td class="btn-group btn-group-sm">
            @if (Model.CurrentUser.DocumentRights.Any(x => x.document.Name == item.Name) || User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @Class = "btn btn-default" })
            }
            else
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @Class = "btn btn-default", @Disabled = "disabled" })
            }
            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @Class = "btn btn-default" })
            @if (Model.CurrentUser.DocumentRights.Any(x => x.document.Name == item.Name) || User.IsInRole("Admin"))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @Class = "btn btn-danger" })
            }
            else
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @Class = "btn btn-danger", @Disabled = "disabled" })
            }

            @*@Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @Class = "btn btn-danger" })*@
        </td>
    </tr>
}

</table>
