@model IEnumerable<MarkdownManagerNew.Models.Group>

@{
    ViewBag.Title = "MyGroups";
}

<h3>Mina grupper</h3>

<p>
    @Html.ActionLink("Ny grupp", "Create", null, new { @Class = "btn btn-default"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Creator.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastChanged)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Creator.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastChanged)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditGroup", new { id=item.ID }, new { @Class = "btn btn-default"})
            @Html.ActionLink("Details", "GroupDetails", new { id = item.ID }, new { @Class = "btn btn-default" })
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @Class = "btn btn-danger" })
            }
            else
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @Class = "btn btn-danger", @Disabled = "disabled" })
            }  
           
        </td>
    </tr>
}

</table>
