@model IEnumerable<MarkdownManagerNew.Models.ApplicationUser>

@{
    ViewBag.Title = "ShowUsers";
}

<h2>Användare</h2>
<hr />

@Html.ActionLink("Ny användare", "CreateUser", "Admin", new { @class = "btn btn-primary" })

<table class="table card">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td class="">
            <span class="btn-group btn-group-sm pull-right">
                @Html.ActionLink("Redigera", "Edit", new { /* id=item.PrimaryKey */ }, new { @Class = "btn btn-default" })
                @Html.ActionLink("Detaljer", "Details", new { /* id=item.PrimaryKey */ }, new { @Class = "btn btn-default" })
                @Html.ActionLink("Radera", "Delete", new { /* id=item.PrimaryKey */ }, new { @Class = "btn btn-danger" })
            </span>
            
        </td>
    </tr>
}

</table>
