<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:light,regular,medium,thin,italic,mediumitalic,bold" title="roboto">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/Controllers/FileController.js"></script>
</head>
<body ng-app="app">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Markdown Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Hem", "Index", "Admin")</li>
                            <li>@Html.ActionLink("Dokument", "ShowDocuments", "Admin")</li>
                            <li>@Html.ActionLink("Grupper", "ShowGroups", "Admin")</li>
                            <li>@Html.ActionLink("Användare", "ShowUsers", "Admin")</li>
                        }
                        @if (User.IsInRole("User"))
                        {
                            <li>@Html.ActionLink("Hem", "Index", "User")</li>
                            <li>@Html.ActionLink("Nytt dokument", "CreateDocument", "User")</li>
                            <li>@Html.ActionLink("Ny grupp", "CreateGroup", "User")</li>
                            <li>@Html.ActionLink("Ny tagg", "CreateTag", "User")</li>
                            <li>@Html.ActionLink("Mina grupper", "MyGroups", "User")</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    }

    <div class="container body-content">
        @RenderBody()
        @if (User.Identity.IsAuthenticated)
        {
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        }

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
